@import "tailwindcss";

body{
  background-color: #272727;
  color: white;
}

.popUp{
  animation-name: popAnim;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: alternate;
}

.hrAnim {
  animation-name: hrAnim;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes popAnim {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes hrAnim {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}